# Publish all joint states -----------------------------------
joint_state_controller:
  type: joint_state_controller/JointStateController
  publish_rate: 50  

diffdrive_controller:
  type: diff_drive_controller/DiffDriveController
  left_wheel: 'wheel_left_joint'
  right_wheel: 'wheel_right_joint'
  pose_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 0.001]
  twist_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 0.001]

# gripper_arm_left_controller:
#   type: effort_controllers/JointPositionController
#   joint: gripper_arm_left_joint
#   pid: {p: 0.05, i: 0, d: 0.01}

# gripper_arm_right_controller:
#   type: effort_controllers/JointPositionController
#   joint: gripper_arm_right_joint
#   pid: {p: 0.05, i: 0, d: 0.01}
