<launch>
  <param name="robot_description" command="xacro '$(find theclaw)/urdf/theclaw.urdf.xacro'" />

  <rosparam file="$(find theclaw)/config/theclaw_control.yaml" command="load" />

  <remap from="/diffdrive_controller/cmd_vel" to="/cmd_vel" />
  <remap from="/diffdrive_controller/odom" to="/odom" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" args="diffdrive_controller gripper_arm_left_controller gripper_arm_right_controller joint_state_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_stage_4.world" />
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model theclaw -x -0.3 -y 0 -z 0.1 -param robot_description" />

  <!-- <node pkg="theclaw" type="theclaw_node.py" name="theclaw" /> -->
  <!-- <include file="$(find theclaw)/launch/lidar.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/scan_matcher.launch" /> -->
  <include file="$(find theclaw)/launch/nav.launch" />
  <include file="$(find theclaw)/launch/slam.launch" />
  <include file="$(find theclaw)/launch/rviz.launch" />
  <!-- <include file="$(find theclaw)/launch/joystick.launch" /> -->
</launch>
