<launch>
  <param name="robot_description" command="xacro '$(find theclaw)/urdf/theclaw.urdf.xacro'"/>

  <!-- <include file="$(find theclaw)/launch/nav.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/slam.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/rviz.launch" /> -->
  <include file="$(find theclaw)/launch/joystick.launch" />
</launch>
