<launch>
  <include file="$(find theclaw)/launch/robot.launch" />
  <node pkg="theclaw" type="theclaw_node.py" name="theclaw" />
  <!-- <include file="$(find theclaw)/launch/lidar.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/nav.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/slam.launch" /> -->
  <include file="$(find theclaw)/launch/rviz.launch" />

   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find theclaw)/worlds/test.world"/>
  </include>
</launch>
