<launch>
  <param name="robot_description" command="xacro '$(find theclaw)/urdf/theclaw.urdf.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="diffdrive" pkg="theclaw" type="diffdrive.py">
    <remap from="left/command/int" to="/hw/motor_a/command"/>
    <remap from="right/command/int" to="/hw/motor_b/command"/>
  </node>

  <include file="$(find theclaw)/launch/nav.launch" />
  <include file="$(find theclaw)/launch/slam.launch" />
  <include file="$(find theclaw)/launch/rviz.launch" />
  <include file="$(find theclaw)/launch/joystick.launch" />
</launch>
