<launch>
  <param name="robot_description" command="xacro '$(find theclaw)/urdf/theclaw.urdf.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node ns="motor_a" pkg="omniwheel" type="omniwheel_node" name="wheel1_controller">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <remap from="command/int" to="motor_speed"/>
        <param name="wheel_id" type="int" value="1"/>
  </node>

  <node ns="motor_b" pkg="omniwheel" type="omniwheel_node" name="wheel2_controller">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <remap from="command/int" to="motor_speed"/>
        <param name="wheel_id" type="int" value="2"/>
  </node>

  <node ns="motor_c" pkg="omniwheel" type="omniwheel_node" name="wheel3_controller">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <remap from="command/int" to="motor_speed"/>
        <param name="wheel_id" type="int" value="3"/>
  </node>

  <!-- <include file="$(find theclaw)/launch/lidar.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/scan_matcher.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/nav.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/slam.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/rviz.launch" /> -->
  <include file="$(find theclaw)/launch/joystick.launch" />
</launch>
