<launch>
  <include file="$(find theclaw)/launch/robot.launch" />

   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find theclaw)/world/test.world"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model theclaw -x 0 -y 0 -z 1 -param robot_description" />

  <node pkg="theclaw" type="theclaw_node.py" name="theclaw" />
  <!-- <include file="$(find theclaw)/launch/lidar.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/nav.launch" /> -->
  <!-- <include file="$(find theclaw)/launch/slam.launch" /> -->
  <include file="$(find theclaw)/launch/rviz.launch" />
</launch>
